<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css" />
</head>
<body>
<div class="container">
    <div class="form-container">
        <div class="circle">or</div>
        <form method="POST" action="register/auth">
            <h1>Sign up</h1>
            <label>
                <input id="login" type="text" name="login" placeholder="Login" />
            </label>
            <label>
                <input id="password" type="password" name="password" placeholder="Password" />
            </label>
            <label>
                <input id="repeat-password" type="password" name="repeatPassword" placeholder="Repeat password" />
            </label>
            <button type="submit" class="submit-btn">Sign up</button>
            <div class="register-info">
                <p>Already have an account? <a href="/">Log in</a></p>
            </div>
        </form>
        <div class="photo">
            <img src="img/form.jpg" alt="Form" />
            <div class="social-network">
                <h1>Sign up with social network</h1>
                <button class="google-btn">Sign up with Google</button>
                <button class="facebook-btn">Sign up with Facebook</button>
                <button class="github-btn">Sign up with Github</button>
            </div>
        </div>
    </div>
</div>
</body>
</html>
